/* 
tags$head(
                     tags$style(HTML("
      @import url(https://fonts.googleapis.com/css?family=Rye);
      
      h1 {
        font-family: 'Rye', cursive;
        font-weight: 500;
        line-height: 1.1;
        color: #48ca3b;
      }

    "))
)
*/ 


@import url(https://fonts.googleapis.com/css?family=Rye);

.main-header .logo {
  font-family: 'Rye', cursive;
  font-weight: 500;
  font-size: 24px;
}

/*
.main-header .logo {
  font-family: "Georgia", Times, "Times New Roman", serif;
  font-weight: bold;
  font-size: 24px;
}
*/ 


